# --- DATABASE CONFIG ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

DATABASE_URL=

# --- API / BACKEND CONFIG ---
BACKEND_PORT=
NODE_ENV=

# --- FRONTEND CONFIG ---
VITE_API_URL=

# --- AI (OLLAMA) CONFIG ---
OLLAMA_HOST=
