localhost:443 {
    # 1. Fichiers téléversés (Uploads)
    handle /uploads/* {
        root * /usr/share/caddy
        file_server
    }

    # 2. WebSockets Socket.io
    handle /socket.io* {
        reverse_proxy backend:3000
    }

    # 3. Routes API et WS génériques vers NestJS
    handle /api/* {
        reverse_proxy backend:3000
    }

    # 4. Routes d'authentification vers NestJS (NOUVEAU)
    handle /auth/* {
        reverse_proxy backend:3000
    }

    handle /ws/* {
        reverse_proxy backend:3000
    }

    # 5. Tout le reste va vers le serveur Frontend Vite
    handle {
        reverse_proxy frontend:5173
    }
}