localhost:443 {
    # 1. Servir directement les fichiers uploadés depuis le volume partagé
    handle /uploads/* {
        root * /usr/share/caddy
        file_server
    }

    # 2. Redirection de l'API vers NestJS
    reverse_proxy /api/* backend:3000
    reverse_proxy /ws/* backend:3000

    # 3. Gestion du Frontend (Vite)
    reverse_proxy /* frontend:5173

    # Redirection SPA pour React
    try_files {path} /index.html
}